<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active myActive" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active myActive"><a routerLink="/servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active myActive"><a [routerLink]="['/users']">Users</a></li>
        <!-- <li role="presentation" routerLinkActive="active myActive"><a [routerLink]="['/users', 'something']">Users2</a></li> -->
        <!-- 
          So here we have mentioned the path in href attribute like we used to do and it works file in loading the components. 

          But the difference you will  notice if you observe the refresh icon in our URL bar. Whenever we click on a link, it refreshes the app which is not the behaviour of a SPA. 
          SPAs are only loaded once.

          It restarts the app on every click. 
          By refreshing, we lost the state of application and it'a completely new fresh application.
        -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->
</div>

<!--
  Here we're loading all the components. It would be better if we will load only one component at first and will load the other components dynamically when the tabs are clicked.
  We can change the URL as well when a new tab clicked.

  To do that we need to register the routes in our application.
  So where should we register in our app?
  It's in app.module.ts

  As the routes we will register will be responsible for the whole application.
  Everywhere in our application, if we'll go to "/users", we want to load the users component as the main view in our application

  We also add all our components in app.module, So it will be a good place to register our routes here as well.
-->

<!--
  Solution:
  There's another special directive called: "routerLink". It handles the click event on links differently.
 
  routerLink can be used as property binding as well.

  If we used the property-binding style: we can't pass it's value directly as we passed in the non-propertyBinding style. Because If we pass so, Angular will try to find a property named routerLink as a native property of HTML's a element.
  So it will throw error as it won't find any property named like that.

  So to avoid any error it's better to use an array as value of routerLink, 
  when it's used with the property binding syntax.

  The array syntax gives us more fine-grained control over routerLink.

  If used like an array, we can specify all segments of your path as elements in your array.

  ["/users"] ---------                localhost:4200/users
  ["/users", "something"]------------ localhost:4200/users/something
  More details will be discussed later.

  Go through this: https://stackoverflow.com/questions/41370760/difference-between-routerlink-and-routerlink
-->

<!--
  After registering the routes in app.module, Angular determines which route should be selected and what action to take or what to render in our screen when a particular route is selected.
  But it does not where should it render the selected view.

  To make Angular understand that, instead of mentioning all the selector in our template file (Which is now handled in array of routes in app.module.),
  We just need to mention a directive i.e; router-outlet.

  So whatever route is seleced from array of routes, the action need to be taken where Angular finds this router-outlet directive.

  In this way we can show the selected route instead of all the components.

  By this much changes it works, if you'll visit, localhost:4200, localhost:4200/users, localhost:4200/servers:
  you can see. But somehow the links needs to be fixed.
-->